<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)" />
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/topbar :: topbar (page = 'students')" />
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><em class="fa fa-user"></em> &nbsp; <span th:text="#{html.students.changepassword.choose}"></span></h5>
                        </div>

                        <div class="ibox-content">
                            <form class="m-t" role="form" action="#" th:action="@{/students/changepassword}" th:object="${passwordForm}" method="post">
                                <input th:field="*{username}" class="form-control" style="display: none;"/>
                                <div class="form-group">
                                    <h4 th:text="#{html.students.changepassword.person}"></h4>
                                    <p th:text="*{personName}"/>
                                </div>

                                <div class="form-group">
                                    <input type="password" th:field="*{password}" class="form-control" placeholder="Nyt kodeord" autofocus="autofocus" />
                                    <ul th:if="${#fields.hasErrors('password') or technicalError == true}" class="error">
                                        <li th:if="${technicalError == true}" th:text="#{html.students.changepassword.technicalError}"></li>
                                        <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Gentag kodeord" />
                                    <ul th:if="${#fields.hasErrors('confirmPassword')}" class="error">
                                        <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"/>
                                    </ul>
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b" th:text="#{html.students.changepassword}"></button>
                            </form>
                            <th:block th:replace="fragments/password-settings :: list(settings = ${settings})"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: scripts (datatables = true)" />

	<style>
		ul.error li {
			color: red;
		}
	</style>
</body>
</html>
