<html xmlns:th="http://www.w3.org/1999/html">
<th:block th:fragment="list">
    <ul>
        <li th:text="#{shared.password.settings.rule.length(${settings.minLength})}"></li>
        <th:block th:if="${settings.requireComplexPassword}">
        	<li><span th:text="#{shared.password.settings.rule.complex}"></span>
	        	<ul>
			        <li th:text="#{shared.password.settings.rule.lowercase}"></li>
			        <li th:text="#{shared.password.settings.rule.uppercase}"></li>
			        <li th:text="#{shared.password.settings.rule.digits}"></li>
			        <li th:text="#{shared.password.settings.rule.special}"></li>
		        </ul>
	        </li>
        </th:block>
    </ul>
</th:block>
</html>