<!DOCTYPE html>
<html>
<body>
<!-- 	<div th:fragment="menu" class="col-lg-3"> -->
<!-- 		<div class="ibox"> -->
<!-- 			<div class="ibox-title"> -->
<!-- 				<h5><em class="fa fa-share"></em> &nbsp; Referencer</h5> -->
<!-- 				<div class="ibox-tools"> -->
<!-- 					<em class="fa fa-question" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="TEXT"></em> -->
<!-- 				</div> -->
<!-- 			</div> -->

<!-- 			<div class="ibox-content"> -->
<!-- 				<div class="row"> -->
<!-- 					<ul> -->
<!-- 						<li><a th:href="@{/vilkaar}">Vilkår for anvendelse</a></li> -->
<!-- 						<li><a th:href="@{/privatlivspolitik}">Privatlivspolitik</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
</body>
</html>