<!DOCTYPE html>
<html>
<body>
	<div th:fragment="topbar" class="row border-bottom white-bg">
		<nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
			<a th:href="@{/}" class="navbar-brand" style="background: white; padding: 10px 25px !important;">
				<img class="img-fluid" src="/img/os2skoledata.png" style="display: inline; max-width: 30vw; max-height: 38px;">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
				<span class="fa fa-bars"></span>
			</button>

			<div class="navbar-collapse collapse" id="navbar">
				<ul class="nav navbar-nav mr-auto">
					<li sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'queue')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/showQueue}"><span th:text="#{html.navbar.queue}"></span></a>
					</li>
					
					<li sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'client')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/clients}"><span th:text="#{html.navbar.clients}"></span></a>
					</li>

					<li sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'institution')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/institutions}"><span th:text="#{html.navbar.institutions}"></span></a>
					</li>

					<li th:if="@{__${@OS2SkoleDataConfiguration.teamAdminAdministration.enabled}__}" sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'teamadmin')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/institutions/teamadmins}"><span th:text="#{html.navbar.teamadmins}"></span></a>
					</li>

					<li th:if="@{__${@OS2SkoleDataConfiguration.studentAdministration.enabled}__}" sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'config')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/config}"><span th:text="#{html.navbar.config}"></span></a>
					</li>

					<li th:if="@{__${@OS2SkoleDataConfiguration.studentAdministration.enabled}__}" sec:authorize="hasRole('ROLE_SCHOOL_EMPLOYEE')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'students')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/students}"><span th:text="#{html.navbar.students}"></span></a>
					</li>

					<li th:if="@{__${@OS2SkoleDataConfiguration.studentAdministration.enabled}__} AND @{__${@OS2SkoleDataConfiguration.studentAdministration.parentPasswordChangeEnabled}__}" sec:authorize="hasRole('ROLE_PARENT')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'student.parents')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/students/parents/changepassword}"><span th:text="#{html.navbar.students}"></span></a>
					</li>
				</ul>

				<ul sec:authorize="isAuthenticated()" class="nav navbar-top-links navbar-right">
					<li>
						<a th:href="@{/saml/logout}">
							<i class="fa fa-sign-out"></i>
							<span th:text="#{html.control.button.logout}"></span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>
