<!DOCTYPE html>
<html>
<body>
	<div th:fragment="topbar" class="row border-bottom white-bg">
		<nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
			<a th:href="@{/}" class="navbar-brand" style="background: white; padding: 10px 25px !important;">
				<img class="img-fluid" src="/img/os2skoledata.png" style="display: inline; max-width: 30vw; max-height: 38px;">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
				<span class="fa fa-bars"></span>
			</button>

			<div class="navbar-collapse collapse" id="navbar">
				<ul class="nav navbar-nav mr-auto">
					<li sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'queue')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/showQueue}">Modification History</a>
					</li>
					
					<li sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="nav-item" th:classappend="${page != null and #strings.startsWith(page, 'client')} ? 'active' : ''">
						<a role="button" th:href="@{/ui/clients}">Clients</a>
					</li>
				</ul>

				<ul sec:authorize="isAuthenticated()" class="nav navbar-top-links navbar-right">
					<li>
						<a th:href="@{/saml/logout}">
							<i class="fa fa-sign-out"></i> Log ud
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>
