<th:block th:fragment="clientTable" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="table-responsive">
		<table id="listTable_clients" class="table table-striped table-hover listTable">
			<thead>
				<tr>
					<th class="col-md-4" th:text="#{html.entity.client.name}"></th>
					<th class="col-md-4" th:text="#{html.entity.client.access}"></th>
					<th class="col-md-4" th:text="#{html.entity.client.apiKey}"></th>
					<th class="col-md-3" th:text="#{html.entity.client.lastSync}"></th>
					<th class="col-md-1" th:text="#{html.control.operations}"></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="client : ${clients}">
					<td>
						<span th:text="${client.name}"></span>
						<span th:if="${client.paused}" th:text="#{html.page.client.paused}" style="font-size: smaller; color: red;"></span>
					</td>
					<td th:text="${client.accessRole}"></td>
					<td>
						<em onclick="clientTable.togglePassword(this.getAttribute('data-client-id'));" th:data-client-id="${client.id}" class="fa fa-fw fa-eye"></em>&nbsp;&nbsp;
						<span th:attr="data-key=${client.apiKey}" th:id="'pwd-' + ${client.id}">********</span>
					</td>
					<td th:text="${#temporals.format(client.lastActive, 'yyyy-MM-dd HH:mm')}"></td>
					<td>
						<a
							href="#"
							onclick="clientTable.handleDelete(this); return false;"
							th:attr="data-clientid=${client.id}"
							style="color:black;">
							<em class="fa fa-fw fa-times"></em>
						</a>
						<a
							th:if="${client.paused == false}"
							href="#"
							onclick="clientTable.pauseClient(this); return false;"
							th:attr="data-clientid=${client.id}"
							style="color:black;">
							<em class="fa fa-fw fa-pause"></em>
						</a>
						<a
							th:if="${client.paused == true}"
							href="#"
							onclick="clientTable.unpauseClient(this); return false;"
							th:attr="data-clientid=${client.id}"
							style="color:black;">
							<em class="fa fa-fw fa-play"></em>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>

<th:block th:fragment="scripts" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		var stars = '********';

		/*[+
	
		var deleteClientURL = [[@{/rest/clients/delete}]];
		var pauseClientURL = [[@{/rest/clients/pause}]];
		
		var deleteTitle = [[#{html.client.delete.title}]];
		var deleteText = [[#{html.client.delete.text}]];
		var deleteButtonConfirm = [[#{html.control.button.delete}]];
		var deleteButtonCancel = [[#{html.control.button.cancel}]];
		
		var pauseTitle = [[#{html.client.pause.title}]];
		var pauseText = [[#{html.client.pause.text}]];
		var unpauseTitle = [[#{html.client.unpause.title}]];
		var unpauseText = [[#{html.client.unpause.text}]];
		var pauseButtonConfirm = [[#{html.control.button.ok}]];
		var pauseButtonCancel = [[#{html.control.button.cancel}]];
		
		var searchTxt = [[#{html.datatables.search}]];
		var dropdownTxt = [[#{html.datatables.dropdown}]];
		var infoDefaultTxt = [[#{html.datatables.info.default}]];
		var infoEmptyTxt = [[#{html.datatables.info.empty}]];
		var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
		var prevTxt = [[#{html.datatables.prev}]];
		var nextTxt = [[#{html.datatables.next}]];
		
		var msgDeleteFailure = [[#{html.page.client.new.modal.msgDeleteFailure}]];

		+]*/

		var clientTable;
		$(document).ready(function(){
			clientTable = new ClientTable();
		});

		function ClientTable() {
			this.init = function() {
				$('#listTable_clients').DataTable({
					'paging':    true,
					'ordering':  true,
					'info':      true,
					'pageLength': 25,
					'language': {
						"search":       searchTxt,
						"lengthMenu":   dropdownTxt,
						"info":         infoDefaultTxt,
						"zeroRecords":  infoEmptyTxt,
						"infoEmpty":    "",
						"infoFiltered": infoFilteredTxt,
						"paginate": {
							"next": nextTxt,
							"previous": prevTxt
						}
					}
				});
			}

			this.pauseClient = function(elem) {
				var clientId = elem.dataset.clientid;
				clientTable.callPauseEndpoint(clientId, true);
			}
			
			this.unpauseClient = function(elem) {
				var clientId = elem.dataset.clientid;
				clientTable.callPauseEndpoint(clientId, false);
			}
			
			this.callPauseEndpoint = function(clientId, pause) {
				swal({
					html : true,
					title : (pause ? pauseTitle : unpauseTitle),
					text : (pause ? pauseText : unpauseText),
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : pauseButtonConfirm,
					cancelButtonText : pauseButtonCancel,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							contentType: 'application/json',
							url: pauseClientURL,
							method : "POST",
		 					headers: {
		 						'X-CSRF-TOKEN': token
		 					},
							data : JSON.stringify({ id: clientId, paused: pause }),
							error: function(response) {
								swal({
									title: msgFailure,
									type: 'error',
									confirmButtonColor: '#3085d6'
								});
							},
							success: function(response) {
								loadClientTable();
							}
						});
					}
				});
			}
		
			this.handleDelete = function(elem) {
				var clientId = elem.dataset.clientid;
				swal({
					html : true,
					title : deleteTitle,
					text : deleteText,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : deleteButtonConfirm,
					cancelButtonText : deleteButtonCancel,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							contentType: 'application/json',
							url: deleteClientURL,
							method : "POST",
		 					headers: {
		 						'X-CSRF-TOKEN': token
		 					},
							data : JSON.stringify({ id: clientId }),
							error: function(response) {
								swal({
									title: msgDeleteFailure,
									type: 'error',
									confirmButtonColor: '#3085d6'
								});
							},
							success: function(response) {
								loadClientTable();
							}
						});
					}
				});
			}
		
			this.togglePassword = function(clientId) {
				if ($("#pwd-" + clientId).text() == stars) {
					$("#pwd-" + clientId).text($("#pwd-" + clientId).data("key"));
				}
				else {
					$("#pwd-" + clientId).text(stars);
				}
			}
		}

		/*]]>*/
	</script>
</th:block>