<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)" />
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/topbar :: topbar (page = 'student.parents')" />
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><em class="fa fa-user"></em> &nbsp; <span th:text="#{html.students.changepassword.choose}"></span></h5>
                        </div>

                        <div class="ibox-content">
                            <form class="m-t" role="form" action="#" th:action="@{/ui/students/parents/changepassword}" th:object="${passwordForm}" method="post">
                                <input th:field="*{username}" class="form-control" hidden/>
                                <input type="password" th:field="*{password}" class="form-control" hidden />
                                <input type="password" th:field="*{confirmPassword}" class="form-control" hidden/>

                                <div class="form-group">
                                    <h4 th:text="#{html.students.changepassword.person}"></h4>
                                    <p th:text="*{personName}"/>
                                </div>

                                <div class="form-group row col-lg-12">
                                    <div class="col-lg-4">
                                        <select id="word1" class="form-control">
                                            <option th:each="word : ${passwordWords.wordsColumn1}" th:text="${word}" th:value="${word}" th:selected="${passwordWords.word1}"/>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <select id="word2" class="form-control">
                                            <option th:each="word : ${passwordWords.wordsColumn2}" th:text="${word}" th:value="${word}" th:selected="${passwordWords.word2}"/>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <select id="word3" class="form-control">
                                            <option th:each="word : ${passwordWords.wordsColumn3}" th:text="${word}" th:value="${word}" th:selected="${passwordWords.word3}"/>
                                        </select>
                                    </div>

                                    <ul class="error">
                                        <li th:if="${technicalError == true}">Det valgte kodeord blev afvist af din organisations Active Directory</li>
                                        <li th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                                    </ul>
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b" th:text="#{html.students.changepassword}"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: scripts (datatables = true)" />

	<style>
		ul.error li {
			color: red;
		}
	</style>

    <script th:inline="javascript">
        /*<![CDATA[*/

        /*[+
        +]*/

        var token = $("meta[name='_csrf']").attr("content");
        var passwordService;
        $(document).ready(function() {
            passwordService = new PasswordService();

            passwordService.isYoungStudentInit();

            // trigger initial update of password :)
            passwordService.handleYoungPasswordChange();
        });

        function PasswordService() {

            this.isYoungStudentInit = function() {
                $("#word1").change(passwordService.handleYoungPasswordChange);
                $("#word2").change(passwordService.handleYoungPasswordChange);
                $("#word3").change(passwordService.handleYoungPasswordChange);
            }

            this.handleYoungPasswordChange = function() {
                $("#password").val($("#word1").val() + $("#word2").val() + $("#word3").val());
                $("#confirmPassword").val($("#word1").val() + $("#word2").val() + $("#word3").val());
            }
        }

        /*]]>*/
    </script>
</body>
</html>
