<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)" />
<body class="top-navigation">
<div id="wrapper">
	<div id="page-wrapper" class="gray-bg">
		<div th:replace="fragments/topbar :: topbar (page = 'student.parents.list')" />

		<div class="wrapper wrapper-content">
			<div class="row">

				<div class="col-lg-12">
					<div class="ibox">
						<div class="ibox-title">
							<h5><em class="fa fa-cogs"></em> &nbsp; <span th:text="#{html.students.header}"></span></h5>
						</div>

						<div class="ibox-content">
							<p th:text="#{html.students.changepassword.parents.explainer}"></p>

							<h4>Elever</h4>
							<div class="table-responsive">
								<table id="persons" class="table table-striped table-bordered table-hover" >
									<thead>
									<tr>
										<th th:text="#{html.students.changepassword.parents.table.headers.person}"></th>
										<th th:text="#{html.students.table.headers.username}"></th>
										<th th:text="#{html.students.table.headers.unilogin}"></th>
										<th th:text="#{html.students.table.headers.institutions}"></th>
										<th th:text="#{html.students.table.headers.classes}"></th>
										<th style="width: 80px;" th:text="#{html.control.operations}"></th>
									</tr>
									</thead>

									<tfoot style="display: table-row-group">
									<tr>
										<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
										<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
										<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
										<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
										<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
										<td></td>
									</tr>
									</tfoot>

									<tbody>
									<tr th:each="person : ${children}">
										<td th:text="${person.name}" />
										<td th:text="${person.username}" />
										<td th:text="${person.uniLogin}" />
										<td th:text="${person.institutions}" />
										<td th:text="${person.classes}" />
										<td>
											<a th:if="${person.canChangePassword}" th:href="'/ui/students/parents/changepassword/' + ${person.username}" style="color: black;" title="Skift kodeord"><em class="fa fa-fw fa-key"></em></a>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div th:replace="fragments/footer :: scripts (datatables = true)" />
<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var flashSuccess = [[${flashSuccess}]];
			var flashWarning = [[${flashWarning}]];
			var flashError = [[${flashError}]];
		+]*/

        var token = $("meta[name='_csrf']").attr("content");
		var studentService;
		$(document).ready(function(){
			studentService = new StudentService();
			studentService.initializeDatatable();

			if (flashSuccess != undefined) {
				toastr.success(flashSuccess);
			}
			if (flashWarning != undefined) {
				toastr.warning(flashWarning);
			}
			if (flashError != undefined) {
				toastr.error(flashError);
			}
		});

		function StudentService() {
		    this.initializeDatatable = function() {
				table = $('#persons').DataTable({
					"destroy": true,
					"columns": [
						{
							"orderable": true
						},
						{
							"orderable": true
						},
						{
							"orderable": true
						},
						{
							"orderable": false
						},
						{
							"orderable": false
						},
						{
							"searchable": false,
							"orderable": false,
						}
					],
					"ordering": true,
					"info": true,
					"pageLength": 20,
					"lengthChange": false,
					"bSort": false,
					"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
					"responsive": true,
					"language": {
						"search":	   "Søg",
						"lengthMenu":   "_MENU_ rækker per side",
						"info":		 "Viser _START_ til _END_ af _TOTAL_ brugere",
						"zeroRecords":  "Ingen data...",
						"infoEmpty":	"Henter data...",
						"infoFiltered": "(ud af _MAX_ brugere)",
						"paginate": {
							"previous": "Forrige",
							"next": "Næste"
						}
					}
				});

				$.each($('.input-filter', table.table().footer()), function() {
					var column = table.column($(this).index());

					$('input', this).on('keyup change', function () {
						if (column.search() !== this.value) {
							column.search(this.value).draw();
						}
					});
				});
			}
        }

		/*]]>*/
	</script>
</body>
</html>
