<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true, checkbox = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'institutions.list')" />

			<div class="wrapper wrapper-content">
				<div class="row">

					<div class="col-lg-12">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-list"></em> &nbsp; <span th:text="#{html.navbar.institutions}"></span></h5>
							</div>

							<div class="ibox-content">
								<div class="mb-3">
									<fieldset class="row col-lg-12">
										<label class="col-lg-4" th:text="#{html.entity.institution.tooFewPeople.email}" th:title="#{html.entity.institution.tooFewPeople.email.title}"></label>
										<input class="form-control col-lg-8" id="stilMail" th:value="${stilContactEmail}">
									</fieldset>
								</div>

								<div class="col-lg-12">
									<table id="institutionTable" class="table table-striped table-hover listTable">
										<thead>
										<tr>
											<th class="col-md-6" th:text="#{html.entity.institution.name}"></th>
											<th class="col-md-2" th:text="#{html.entity.institution.number}"></th>
											<th class="col-md-2" th:text="#{html.entity.institution.locked}"></th>
											<th class="col-md-2" th:text="#{html.control.operations}"></th>
										</tr>
										</thead>

										<tbody>
										<tr th:each="institution : ${institutions}">
											<td>
												<span th:text="${institution.name}"></span> &nbsp;
												<em th:if="${institution.hasTooFewPeople}" style="color: red;" class="fa fa-warning" th:title="${institution.tooFewPeopleErrorMessage}"></em>
											</td>
											<td>
												<span th:text="${institution.number}"></span>
											</td>
											<td>
												<em th:id="'locked' + ${institution.number}" th:if="${institution.locked}" class="fa fa-fw fa-lock" th:title="#{html.entity.institution.locked.title}"></em>
											</td>
											<td>
												<a
														th:if="${institution.locked && institution.unlockPossible}"
														th:id="'unlock' + ${institution.number}"
														href="#"
														onclick="institutionService.unlockInstitution(this);"
														th:attr="data-institutionnumber=${institution.number}"
														style="color:black;">
													<em th:title="#{html.entity.institution.unlock.title}" class="fa fa-fw fa-unlock"></em>
												</a>
												<a
														th:if="${institution.hasTooFewPeople}"
														href="#"
														onclick="institutionService.approveSTILChanges(this);"
														th:attr="data-institutionnumber=${institution.number}, data-change=${institution.tooFewPeopleErrorMessage}"
														style="color: black;">
													<em class="fa fa-forward" th:title="#{html.entity.institution.tooFewPeople}"></em>
												</a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>

		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (datatables = true)" />
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var searchTxt = [[#{html.datatables.search}]];
			var dropdownTxt = [[#{html.datatables.dropdown}]];
			var infoDefaultTxt = [[#{html.datatables.info.default}]];
			var infoEmptyTxt = [[#{html.datatables.info.empty}]];
			var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
			var prevTxt = [[#{html.datatables.prev}]];
			var nextTxt = [[#{html.datatables.next}]];

			var approveSTILTitle = [[#{html.entity.institution.tooFewPeople}]];
			var approveSTILText = [[#{html.entity.institution.tooFewPeople.text}]];
			var approveSTILConfirm = [[#{html.entity.institution.tooFewPeople.confirm}]];
			var approveSTILCancel = [[#{html.entity.institution.tooFewPeople.cancel}]];
			var msgFailure = [[#{html.entity.institution.tooFewPeople.msgFailure}]];
			var approveSTILUrl = [[@{/rest/institutions/stil/}]];

			var stilMailUrl = [[@{/rest/stil/email}]];
			var stilMailSuccess = [[#{html.entity.institution.tooFewPeople.email.success}]];

			var institutionSuccess = [[#{html.entity.institution.success}]];
			var institutionError = [[#{html.entity.institution.error}]];
			var unlockUrl = [[@{/rest/institutions/unlock/}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		var institutionService;
		$(document).ready(function(){
			institutionService = new InstitutionService();
			institutionService.init();
		});

		function InstitutionService() {
			this.init = function() {
				$('#institutionTable').DataTable({
					'columnDefs': [{
						"targets": 3,
						"orderable": false
					}],
					'paging':    false,
					'ordering':  true,
					'info':      true,
					'language': {
						"search":       searchTxt,
						"lengthMenu":   dropdownTxt,
						"info":         infoDefaultTxt,
						"zeroRecords":  infoEmptyTxt,
						"infoEmpty":    "",
						"infoFiltered": infoFilteredTxt,
						"paginate": {
							"next": nextTxt,
							"previous": prevTxt
						}
					}
				});

				$("#stilMail").on("change", function() {
					let mail = this.value;
					institutionService.saveStilMail(mail);
				});
			}

			this.unlockInstitution = function(elem) {
				var institutionNumber = $(elem).data("institutionnumber");
				$.ajax({
					contentType : 'application/json',
					url : unlockUrl + institutionNumber,
					method : "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
					error : function(response) {
						toastr.error();
					},
					success : function(response) {
						toastr.success(institutionSuccess);
						$("#locked" + institutionNumber).hide();
						$("#unlock" + institutionNumber).hide();
					}
				});
			}

			this.saveStilMail = function(mail) {
				$.ajax({
					contentType : 'application/json',
					url : stilMailUrl,
					method : "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
					data: mail,
					error : function(response) {
						toastr.error(msgFailure);
					},
					success : function(response) {
						toastr.success(stilMailSuccess);
					}
				});
			}

			this.approveSTILChanges = function(elem) {
				var institutionNumber = $(elem).data("institutionnumber");
				var change = $(elem).data("change");
				swal({
					html : true,
					title : approveSTILTitle,
					text : approveSTILText + "<br/>" + change,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : approveSTILConfirm,
					cancelButtonText : approveSTILCancel,
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							contentType: 'application/json',
							url: approveSTILUrl + institutionNumber,
							method : "POST",
		 					headers: {
		 						'X-CSRF-TOKEN': token
		 					},
							error: function(response) {
								swal({
									title: msgFailure,
									type: 'error',
									confirmButtonColor: '#3085d6'
								});
							},
							success: function(response) {
								window.location.reload();
							}
						});
					}
				});
			}
		}

		/*]]>*/
	</script>
</body>
</html>
