<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true, checkbox = true)" />
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/topbar :: topbar (page = 'config')" />

        <div class="wrapper wrapper-content">
            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox" th:if="@{__${@OS2SkoleDataConfiguration.studentAdministration.enabled}__} AND !@{__${@OS2SkoleDataConfiguration.studentAdministration.classListsOnly}__}">
                        <div class="ibox-title" style="line-height: 40px;">
                            <h5><em class="fa fa-cogs"></em> &nbsp; <span th:text="#{html.config.students.header}"></span></h5>
                            <div class="ibox-tools">
                                <button id="createBtn" type="button" class="btn btn-lg btn-primary" style="width:auto; margin-right:10px">
                                    <em class="fa fa-plus"></em>
                                    <span th:text="#{html.control.button.create}"></span>
                                </button>
                            </div>
                        </div>

                        <div class="ibox-content">
                            <p th:text="#{html.config.students.explainer}"></p>

                            <h4 th:text="#{html.config.students.tableheader}"></h4>
                            <div class="table-responsive">
                                <table id="stilStudentConfiguration" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th th:text="#{html.config.students.role}"></th>
                                            <th th:text="#{html.config.students.type}"></th>
                                            <th th:text="#{html.config.students.filter}"></th>
                                            <th style="width: 100px;" th:text="#{html.control.operations}"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="setting : ${roleSettings}">
                                            <td th:text="${setting.role.message}" />
                                            <td th:text="${setting.type.message}" />
                                            <td th:text="${setting.filter}" />
                                            <td>
                                                &nbsp;
                                                <em class="fa fa-pencil editBtn" th:attr="data-id=${setting.id}, data-type=${setting.type}, data-role=${setting.role}, data-filter=${setting.filterValues}"></em>
                                                &nbsp;
                                                <em class="fa fa-times deleteBtn" th:attr="data-id=${setting.id}"></em>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ibox" th:if="@{__${@OS2SkoleDataConfiguration.studentAdministration.enabled}__}">
                        <div class="ibox-title" style="line-height: 40px;">
                            <h5><em class="fa fa-users"></em> &nbsp; <span th:text="#{html.config.passwordAdmin.header}"></span></h5>
                            <div class="ibox-tools">
                                <button id="createPasswordAdminBtn" type="button" class="btn btn-lg btn-primary" style="width:auto; margin-right:10px">
                                    <em class="fa fa-plus"></em>
                                    <span th:text="#{html.control.button.create}"></span>
                                </button>
                            </div>
                        </div>

                        <div class="ibox-content">
                            <p th:text="#{html.config.passwordAdmin.explainer}"></p>
                            <p><b th:if="@{__${@OS2SkoleDataConfiguration.studentAdministration.classListsOnly}__}" th:text="#{html.config.password.explainer.classListsOnly}"></b></p>

                            <h4 th:text="#{html.config.passwordAdmin.tableheader}"></h4>
                            <div class="table-responsive">
                                <table id="passwordAdmins" class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th th:text="#{html.config.passwordAdmin.username}"></th>
                                        <th th:text="#{html.config.passwordAdmin.institutions}"></th>
                                        <th style="width: 100px;" th:text="#{html.control.operations}"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="admin : ${passwordAdmins}">
                                        <td>
                                            <span th:text="${admin.username}"></span>
                                            <small th:if="${admin.createdByClaim}" th:text="#{html.config.passwordAdmin.claim}" th:title="#{html.config.passwordAdmin.claim.explainer}"></small>
                                        </td>
                                        <td th:text="${admin.institutions}" />
                                        <td>
                                            <em th:unless="${admin.createdByClaim}" class="fa fa-times deletePasswordAdminBtn" th:attr="data-id=${admin.id}"></em>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="ibox" th:if="@{__${@OS2SkoleDataConfiguration.studentAdministration.enabled}__} AND !@{__${@OS2SkoleDataConfiguration.studentAdministration.classListsOnly}__}">
                        <div class="ibox-title">
                            <h5><em class="fa fa-cogs"></em> &nbsp; <span th:text="#{html.config.password.header}"></span></h5>
                        </div>

                        <div class="ibox-content">
                            <p th:text="#{html.config.password.explainer}"></p>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label" for="gradeGroupSelect" th:text="#{html.config.password.gradeGroup}" />
                                <div class="col-lg-2">
                                    <select id="gradeGroupSelect" class="form-control">
                                        <option th:each="group : ${gradeGroups}" th:value="${group}" th:text="${group.message}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label" th:text="#{html.config.password.minLength}"></label>
                                <div class="col-lg-2">
                                    <input id="minLength" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">
                                    <span th:text="#{html.config.password.complex}"></span>
                                    <em class="fa fa-question" data-toggle="popover" data-trigger="hover" data-placement="right" th:data-content="#{html.config.password.complex.explainer}"></em>
                                </label>
                                <div class="col-lg-8">
                                    <label><input id="requireComplexPassword" type="checkbox" class="i-checks"></label>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary block full-width m-b" onclick="passwordSettingsService.save();" th:text="#{html.control.button.save}"></button>
                        </div>
                    </div>

                    <div class="ibox" th:if="@{__${@OS2SkoleDataConfiguration.classroomAdministration.enabled}__}">
                        <div class="ibox-title" style="line-height: 40px;">
                            <h5><em class="fa fa-cogs"></em> &nbsp; <span th:text="#{html.config.classroom.header}"></span></h5>
                            <div class="ibox-tools">
                                <button id="classroomAdminCreateBtn" type="button" class="btn btn-lg btn-primary" style="width:auto; margin-right:10px">
                                    <em class="fa fa-plus"></em>
                                    <span th:text="#{html.control.button.create}"></span>
                                </button>
                            </div>
                        </div>

                        <div class="ibox-content">
                            <p th:text="#{html.config.classroom.explainer}"></p>

                            <div class="table-responsive">
                                <table id="googleClassroomConfiguration" class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th th:text="#{html.config.students.role}"></th>
                                        <th th:text="#{html.config.classroom.username}"></th>
                                        <th style="width: 100px;" th:text="#{html.control.operations}"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="admin : ${classroomAdmins}">
                                        <td th:text="${admin.role?.message}" />
                                        <td th:text="${admin.username}" />
                                        <td>
                                            <em class="fa fa-times deleteClassRoomAdminBtn" th:attr="data-id=${admin.id}"></em>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- config modal -->
    <div class="modal fade" id="modal-config" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalHeaderText"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only" th:text="#{html.control.button.cancel}"></span></button>
                </div>

                <div class="modal-body">
                    <input id="id" hidden>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label" for="role" th:text="#{html.config.students.role}" />
                        <div class="col-lg-8">
                            <select id="role" class="form-control">
                                <option th:each="role : ${roles}" th:value="${role}" th:text="${role.message}" th:disabled="${#lists.contains(usedRoles, role)}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label" for="type" th:text="#{html.config.students.type}" />
                        <div class="col-lg-8">
                            <select id="type" class="form-control">
                                <option th:each="type : ${types}" th:value="${type}" th:text="${type.message}"></option>
                            </select>
                        </div>
                    </div>
                    <div id="classTypeSection">
                        <div class="col-md-4" th:each="classType : ${classTypes}">
                            <input type="checkbox" class="i-checks typeCheckbox" alt="checkbox" th:id="${classType}" th:value="${classType}">
                            <label class="col-form-label" th:text="${classType.message}" />
                        </div>
                    </div>
                    <div id="schoolYearSection">
                        <div class="col-md-4" th:each="year : ${years}">
                            <input type="checkbox" class="i-checks yearCheckbox" alt="checkbox" th:id="${year}" th:value="${year}">
                            <label class="col-form-label" th:text="${year.message}" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="configService.save();" th:text="#{html.control.button.create}"></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- config modal end -->

    <!-- classroom admin modal -->
    <div class="modal fade" id="modal-classroom" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 th:text="#{html.config.classroom.modal.title}"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only" th:text="#{html.control.button.cancel}"></span></button>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label" for="classroomType" th:text="#{html.config.classroom.type}" />
                        <div class="col-lg-8">
                            <select id="classroomType" class="form-control">
                                <option th:value="ROLE" th:text="#{html.config.classroom.type.role}"></option>
                                <option th:value="USERNAME" th:text="#{html.config.classroom.type.username}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="classroomRoleSection">
                        <label class="col-lg-2 col-form-label" for="classroomRole" th:text="#{html.config.students.role}" />
                        <div class="col-lg-8">
                            <select id="classroomRole" class="form-control">
                                <option th:each="role : ${roles}" th:value="${role}" th:text="${role.message}" th:disabled="${#lists.contains(usedRoles, role)}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="classroomUsernameSection">
                        <label class="col-lg-2 col-form-label" for="classroomUsername" th:text="#{html.config.classroom.username}" />
                        <div class="col-lg-8">
                            <input id="classroomUsername" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="classroomService.save();" th:text="#{html.control.button.create}"></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- classroom admin modal end -->

    <!-- password admin modal -->
    <div class="modal fade" id="modal-passwordAdmin" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 th:text="#{html.config.passwordAdmin.modal.title}"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only" th:text="#{html.control.button.cancel}"></span></button>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label" for="passwordAdminUsername" th:text="#{html.config.passwordAdmin.username}" />
                        <div class="col-lg-8">
                            <input id="passwordAdminUsername" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-lg-12 row">
                        <b th:text="#{html.config.passwordAdmin.modal.institution}"></b>
                        <div class="col-lg-12" th:each="institution : ${institutions}">
                            <input type="checkbox" class="i-checks passwordAdminInstitutionCheckbox" alt="checkbox" th:id="${institution.id}" th:value="${institution.id}">
                            &nbsp;
                            <label class="col-form-label" th:text="${institution.institutionName}" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="passwordAdminService.save();" th:text="#{html.control.button.create}"></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- password admin modal end -->
</div>


<div th:replace="fragments/footer :: scripts (datatables = true, checkbox = true)" />
<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		    var modalNewTitle = [[#{html.config.students.modal.header.new}]];
            var modalEditTitle = [[#{html.config.students.modal.header.edit}]];
            var successMessage = [[#{html.messages.saved}]];
            var errorMessage = [[#{html.messages.error}]];
            var passwordSettings = [[${passwordSettings}]];
		+]*/

        var token = $("meta[name='_csrf']").attr("content");
		var configService, passwordSettingsService, classroomService, passwordAdminService;
		var selectedCheckboxes = [];
		$(document).ready(function(){
			configService = new ConfigService();
			configService.init();

			passwordSettingsService = new PasswordSettingsService();
			passwordSettingsService.init();

			classroomService = new ClassroomService();
			classroomService.init();

			passwordAdminService = new PasswordAdminService();
			passwordAdminService.init();

		});

		function PasswordSettingsService() {
		    this.init = function() {
		        $("#gradeGroupSelect").on("change", passwordSettingsService.gradeChanged);
		        passwordSettingsService.gradeChanged();
		    }

		    this.gradeChanged = function() {
		        var value = $("#gradeGroupSelect").val();
                for (const settings of passwordSettings) {
                    if (settings.gradeGroup == value) {
                        $("#minLength").val(settings.minLength);
                        if (settings.requireComplexPassword) {
                            $("#requireComplexPassword").iCheck('check');
                        } else {
                            $("#requireComplexPassword").iCheck('uncheck');
                        }
                    }
                }
		    }

		    this.save = function() {
                body = {
                    "gradeGroup": $("#gradeGroupSelect").val(),
                    "minLength": $("#minLength").val(),
                    "requireComplexPassword": $("#requireComplexPassword").prop("checked")
                };

                $.ajax({
                    contentType: 'application/json',
                    url: "/rest/config/passwordsettings/save",
                    method : "POST",
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    data: JSON.stringify(body),
                    error: function(response) {
                        toastr.error(errorMessage);
                    },
                    success: function(response) {
                        passwordSettings = response;
                        toastr.success(successMessage);
                    }
                });
            }
        }

		function ConfigService() {
		    this.init = function() {

		        // btns
		        $(".deleteBtn").on("click", function() {
		            configService.deleteSetting($(this));
		        });
		        $("#createBtn").on("click", configService.openCreateModal);
		        $(".editBtn").on("click", configService.openEditModal);

		        // modal btns and checkboxes
		        $("#type").on("change", configService.typeChanged);
		        $('.typeCheckbox').on('ifChecked', function(event){
					selectedCheckboxes.push($(this).val());
				});
				$('.typeCheckbox').on('ifUnchecked', function(event){
					var index = selectedCheckboxes.indexOf($(this).val());
					selectedCheckboxes.splice(index, 1);
				});
				$('.yearCheckbox').on('ifChecked', function(event){
					selectedCheckboxes.push($(this).val());
				});
				$('.yearCheckbox').on('ifUnchecked', function(event){
					var index = selectedCheckboxes.indexOf($(this).val());
					selectedCheckboxes.splice(index, 1);
				});
		    }

		    this.typeChanged = function() {
		        var value = $("#type").val();
		        if (value == "CANNOT_CHANGE_PASSWORD") {
		            $("#classTypeSection").hide();
		            $("#schoolYearSection").hide();
		        } else if (value == "CAN_CHANGE_PASSWORD_ON_GROUP_MATCH") {
		            $("#classTypeSection").show();
		            $("#schoolYearSection").hide();
		        } else if (value == "CAN_CHANGE_PASSWORD_ON_LEVEL_MATCH") {
		            $("#classTypeSection").hide();
		            $("#schoolYearSection").show();
		        }

		        $(".i-checks").iCheck('uncheck');
                selectedCheckboxes = [];
		    }

		    this.openCreateModal = function() {
		        $("#modalHeaderText").text(modalNewTitle);
		        $("#type").val("CANNOT_CHANGE_PASSWORD");
		        configService.typeChanged();
		        $("#id").val("0");
		        $("#role").prop('disabled', false);

		        $("#modal-config").modal("show");
		    }

		    this.openEditModal = function() {
		        var id = $(this).data("id");
		        var role = $(this).data("role");
		        var type = $(this).data("type");
		        var filter = $(this).data("filter");

		        $("#type").val(type);
		        $("#role").val(role);
		        $("#role").prop('disabled', true);
		        $("#id").val(id);

		        configService.typeChanged();

                // if filter, check checkboxes - important that this is after the call to typeChanged as it clears all checked checkboxes
                if (filter != null && filter != "") {
                    var filterArray = filter.split(',');
                    filterArray.forEach(function(item) {
                        var checkboxId = "#" + item;
                        $(checkboxId).iCheck('check');
                    });
                }

                $("#modalHeaderText").text(modalEditTitle);
		        $("#modal-config").modal("show");
		    }

			this.deleteSetting = function(elem) {
                var id = elem.data("id");

                $.ajax({
                    contentType: 'application/json',
                    url: "/rest/config/" + id + "/delete",
                    method : "DELETE",
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    error: function(response) {
                        toastr.error(response.responseText);
                    },
                    success: function(response) {
                        window.location.reload();
                    }
                });
			}

			this.save = function(elem) {
                var id = $("#id").val();
                var type = $("#type").val();
                var role = $("#role").val();
                body = {
                    "id": id,
                    "role": role,
                    "type": type,
                    "constraints": selectedCheckboxes
                };

                $.ajax({
                    contentType: 'application/json',
                    url: "/rest/config/save",
                    method : "POST",
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    data: JSON.stringify(body),
                    error: function(response) {
                        toastr.error(response.responseText);
                    },
                    success: function(response) {
                        $("#modal-config").modal("hide");
                        window.location.reload();
                    }
                });
			}
        }

        function ClassroomService() {
		    this.init = function() {
		        $(".deleteClassRoomAdminBtn").on("click", function() {
		            classroomService.deleteAdmin($(this));
		        });

		        $("#classroomAdminCreateBtn").on("click", classroomService.openCreateModal);

		        $("#classroomType").on("change", classroomService.typeChanged);
		    }

		    this.typeChanged = function() {
		        var value = $("#classroomType").val();
		        if (value == "ROLE") {
		            $("#classroomUsernameSection").hide();
		            $("#classroomRoleSection").show();
		        } else if (value == "USERNAME") {
		            $("#classroomUsernameSection").show();
		            $("#classroomRoleSection").hide();
		        }
		    }

		    this.openCreateModal = function() {
		        classroomService.typeChanged();
		        $("#modal-classroom").modal("show");
		    }

			this.deleteAdmin = function(elem) {
                var id = elem.data("id");

                $.ajax({
                    contentType: 'application/json',
                    url: "/rest/config/classroomadmin/" + id + "/delete",
                    method : "DELETE",
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    error: function(response) {
                        toastr.error(response.responseText);
                    },
                    success: function(response) {
                        window.location.reload();
                    }
                });
			}

			this.save = function(elem) {
                const type = $("#classroomType").val();
                let role = null;
                let username = null
                if (type == "ROLE") {
		            role = $("#classroomRole").val();
		        } else if (type == "USERNAME") {
		            username = $("#classroomUsername").val();
		        }

                body = {
                    "role": role,
                    "username": username
                };

                $.ajax({
                    contentType: 'application/json',
                    url: "/rest/config/classroomadmin/save",
                    method : "POST",
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    data: JSON.stringify(body),
                    error: function(response) {
                        toastr.error(response.responseText);
                    },
                    success: function(response) {
                        $("#modal-classroom").modal("hide");
                        window.location.reload();
                    }
                });
			}
        }

        function PasswordAdminService() {
            this.init = function() {
		        $(".deletePasswordAdminBtn").on("click", function() {
		            passwordAdminService.deleteAdmin($(this));
		        });

		        $("#createPasswordAdminBtn").on("click", passwordAdminService.openCreateModal);
		    }

		    this.openCreateModal = function() {
		        $("#passwordAdminUsername").val("");
		        $('.passwordAdminInstitutionCheckbox').prop('checked', false).iCheck('update');
		        $("#modal-passwordAdmin").modal("show");
		    }

			this.deleteAdmin = function(elem) {
                var id = elem.data("id");

                $.ajax({
                    contentType: 'application/json',
                    url: "/rest/config/passwordadmin/" + id + "/delete",
                    method : "DELETE",
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    error: function(response) {
                        toastr.error(response.responseText);
                    },
                    success: function(response) {
                        window.location.reload();
                    }
                });
			}

			this.save = function(elem) {
                const username = $("#passwordAdminUsername").val();
                let institutionIds = passwordAdminService.getCheckedCheckboxes();

                body = {
                    "institutionIds": institutionIds,
                    "username": username
                };

                $.ajax({
                    contentType: 'application/json',
                    url: "/rest/config/passwordadmin/save",
                    method : "POST",
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    data: JSON.stringify(body),
                    error: function(response) {
                        toastr.error(response.responseText);
                    },
                    success: function(response) {
                        $("#modal-passwordAdmin").modal("hide");
                        window.location.reload();
                    }
                });
			}

			this.getCheckedCheckboxes = function() {
                return $('.passwordAdminInstitutionCheckbox:checked').map(function () {
                    return this.value;
                }).get();
            }
        }

		/*]]>*/
	</script>
</body>
</html>
