<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'index')" />

			<div class="wrapper wrapper-content">
				<div class="row">

					<div class="col-lg-8 offset-lg-2">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-lock"></em> &nbsp; Error</h5>
							</div>
							<div class="ibox-content">
								Some error occurred :(
							</div>
						</div>
					</div>
					
				</div>
			</div>

		</div>
	</div>

	<div th:replace="fragments/footer :: scripts" />

</body>
</html>
