<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'index')" />

			<div class="wrapper wrapper-content">
				<div class="row">

					<div class="col-lg-12">
						<div class="ibox">
							<div class="ibox-content">
								<h1 style="font-size: 40px;">Noget gik galt <em class="fa fa-frown-o"></em></h1>

								<div th:if="${message == null}" class="error-desc">
									Der opstod en teknisk fejl. Forsøg igen, og hvis fejlen fortsat opstår,
									så kontakt Digital Identity <a href="mailto:kontakt@digital-identity.dk">her</a>.
								</div>

								<div th:unless="${message == null}" class="error-desc" th:text="${message}">
							</div>
						</div>
					</div>
					
				</div>
			</div>

		</div>
	</div>

	<div th:replace="fragments/footer :: scripts" />

</body>
</html>
